@tailwind base;
@tailwind components;
@tailwind utilities;

:root{ --yellow: #F6C24B; }

body {
  margin: 0;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  background-color: #fbfbfb;
  color: #1f2937;
}

.container { max-width: 1100px; margin: 0 auto; padding: 0 20px; }
